<div data-controller="checkbox" class="my-4 flex items-center space-x-4">
  <label>
    <input type="checkbox" data-checkbox-target="input" class="mr-1 cursor-pointer accent-blue-600"> Option 1
  </label>
  <label>
    <input type="checkbox" data-checkbox-target="input" class="mr-1 cursor-pointer accent-blue-600"> Option 2
  </label>
  <label>
    <input type="checkbox" data-checkbox-target="input" class="mr-1 cursor-pointer accent-blue-600"> Option 3
  </label>
</div>
