<div data-controller="dropdown" class="relative">
  <button data-action="click->dropdown#toggle" class="btn-small px-4 py-2 bg-gray-100 hover:bg-gray-200 rounded border cursor-pointer">
    Navigation List
  </button>
  <div data-dropdown-target="menu" class="absolute left-0 mt-1 bg-white border rounded shadow-lg w-40 hidden z-20">
    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Home</a>
    <a href="#" class="block px-4 py-2 hover:bg-gray-100">About</a>
    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Contact</a>
  </div>
</div>
