<div data-controller="radio" class="my-4 flex items-center space-x-4">
  <label>
    <input type="radio" name="choice" value="A" data-radio-target="input" class="mr-1 cursor-pointer accent-blue-600"> Choice A
  </label>
  <label>
    <input type="radio" name="choice" value="B" data-radio-target="input" class="mr-1 cursor-pointer accent-blue-600"> Choice B
  </label>
  <label>
    <input type="radio" name="choice" value="C" data-radio-target="input" class="mr-1 cursor-pointer accent-blue-600"> Choice C
  </label>
</div>
